@font-face {
  font-family: "Pixel";
  src: url("./font/CyberpunkWaifus\ \(1\).ttf") format("truetype");
  font-style: normal;
}

body {
  font-family: "Pixel";
  font-weight: bold;
  font-size: 12px;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
