@font-face {
  font-family: "Pixel";
  src: url("./font/PIXEAB__.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Pixel";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
